.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 15rem;
    height: 18rem;
    background-color: #a141fc;
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    color: #fff;
    border-radius: 3rem;
    text-decoration: none;

}



/* CARD IMAGE */
.cardImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 130px;
    border-bottom: 3px solid rgba(151,206,76);
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    margin-left: 3rem;
    
 
}



/* CARD INFO */
.contenedorinfo{
    padding: 10px;
}

.card h2 {
    color: rgb(255, 255, 255);
    font-size: 0.7rem;
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.3rem;
    text-decoration: none;
}

.name {
    border-radius: 10px;
    border: none;
    background-color: #00000099;
    width: 50%;
    margin-left: 3.2rem;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 1px 1px 1px ;
    
}

.card:hover{
    box-shadow: 3px 3px 5px rgba(151,206,76, 0.788);
    scale: 0.99;
}

.link{
    text-decoration: none;
}

.buttonX {
    cursor: pointer;
    color: rgb(240, 92, 6);
    justify-content:space-between;
    text-align: end;
    padding: 0.2rem 1.8rem;
    background-color: #000;
    text-decoration: none;
    border: #000;

}

.btn{
    display: flex;
    background-color: #000;
    text-decoration: none;
    border: #000;
    justify-content:space-between;
}

.btnfav{
    display: flex;
    background-color: #000;
    text-decoration: none;
    border: #000;
    justify-content:space-between;
    padding: 0.2rem 1.4rem;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .card {
        width: 15.9rem;
        height: 20rem;
        margin: 2rem;
        /* align-items: center; */
        text-align: center;
        
    }

    .cardImage {
        width: 11.5rem;
        height: 11.5rem;
        margin-left: 1.8rem;
    }

    .card h2 {
        font-size: 0.8em;
        margin-top: 0.3rem;
        margin-bottom: 0.5rem;
        color: #fff;
    }
}
