.containerForm{
    width: 100%;
    height: 100vh;
}

.container{
    display: block;
    flex-direction: column;
    overflow: hidden;
    width: 20rem;
    height: auto;
    margin: 4rem 30rem;
    align-items: center;
    background-color: rgba(19, 15, 53, 0.808);
    box-shadow: 2px 2px 4px rgba(151,206,76, 0.788);
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    
}

.form{
    display: block;
    width: 100%;
    padding: 10px 10px;
}

.form p{
    color: red;
}

.form label {
    color: #ffffff;
    display: block;
    width: 80%;
    top: 10px;
    left: 50px;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 1rem;
    font-family: 'Creepster', cursive;
    font-size: 1em;
    
}

.passwordInput{
    position: relative;
}

.eyes{
    position: absolute;
    top: 10;
    /* right: 10px; */
    transform: translateY(-2.4em);
    margin-left: 4.9em;
    background: none;
    border: none;
    cursor: pointer;
    
}

.icono{
    font-size: 24px;
    color: #b3b2b2;
}

.icono:hover {
    
    color: #ffffff;
  }

.form input{
    display: block;
    width: 80%;
    border-radius: 20px;
    border-color: rgba(151,206,76);
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.808);
    margin-left: 1rem;
    text-align: center;
    color: #ffffff;
}

.form input:focus {
    outline: none;
  }

.btn{
    background-color: rgba(151,206,76);
    color: #000;
    display: flex;
    text-align: center;
    border-radius: 20px;
    border: 0;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    margin-left: 35%;
    margin-bottom: 10px;
    margin-top: 18px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgba(232,154,199);
    
}



.container img{
    justify-content: center;
    height: 190px;
    width: 190px;
    border-bottom: 3px solid rgba(151,206,76);
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
}

.bottomText{
    color: #ffffff;
}

.link{
    color: aquamarine;
    text-decoration: none;
    cursor: pointer;
}

.link:hover{
    scale: 1.1;
}



@media (max-width: 780px) {
    .container {
      margin: 2rem auto;
    }
  }
  
  
  
  
  
  
  
  



