.container{
    display: flex;
    max-width: 100%;
    margin: 2rem 10rem;
    align-items: center;
    background-color: rgba(19, 15, 53, 0.808);
    text-shadow: 2px 2px 4px rgba(1, 1, 1, 0.788);
    border-radius: 40px;
    padding: 20px 20px 20px 20px;
    
}

.container h2 {
   
        color: rgb(255, 255, 255);
        font-size: 1.8rem;
        margin-top: 0.7rem;
        margin-bottom: 1rem;
        text-decoration: none;
   
    
}

.container h3 {
   
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    text-decoration: none;


}

.container p{
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.container img{
    justify-content: center;
    height: 280px;
    width: 280px;
    border-bottom: 3px solid #000;
    object-fit: cover;
    border-radius: 50%;
    text-align: center;
    
 
}

.containerinfo{
    display: flex;
    justify-items: center;
    align-items: center;
    text-align: center;
    /* padding: 10px 10px 0px 0px; */
    
}



.social{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    list-style: none;
    margin-top: 2rem;
}

.social i{
    padding: 30px 10px 10px 10px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
}

