.contenedor{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
    grid-auto-flow: dense;
    justify-items: center;
    margin: 0.5rem 1rem;
    min-height: 100vh;
}

.containerSelect{
    display: flex;
    max-width: 100%;
    align-content: space-around;
    justify-content: space-around;
    background-color: rgba(19, 15, 53, 0.808);

}

.containerSelect select{
        background-color: rgba(19, 15, 53, 0.808);
        color: #ffffff;
        padding: 8px 20px;
        margin: 4px 20px;
}