.conteiner {
    text-align: right;
    margin-right: 10em; 
    
    
}

.search {
    border-radius: 1.2rem;
    font-size: 1rem;
    color: #000;
    background-color: rgba(232,154,199);
    cursor: pointer;
    
}

.input {
    border-radius: 1.2rem;
    font-size: 1rem;
    background-color: #FAFD7CFF;
    border-color: rgba(151,206,76);
    padding-left: 8px;
}